/***	Alles auf 0 ***/
* { 
	padding: 	   		0; 
	margin: 			0; 
	border:				0; 
	font-size:  		100.01%;
	
}

/***	Schrift, SchriftgrÃ¶ÃŸe, Hintergrundfarbe der Seite ***/
body {
	font-family: 			Arial, Helvetica, sans-serif;

		
 		background-color: 	#f1f1f1;
}

/***	Der Rahmen, 1000 Pixel mittig gesetzt ***/
#wrapper {
	margin: 			0 auto;
	width: 				62em;
	background-image: 	url(../images/background/bg1000-left.gif);
	padding: 0 0 0 0.625em;
	background-repeat: repeat-y;
}
#bg-right {
	background-image:url(../images/background/bg-right.gif);
	background-repeat:repeat-y;
	background-position:right;
	width: 62em;
}
	
/***	Kopfbereich ***/
#header {
	color: 				#666;
	width: 				62em;
	float: 				left;
	height: 			8.5em;
}

/***	FÃ¼r den Ãœbergang weiÃŸ-grau ***/
#headerbackground {
	background-repeat:  no-repeat;
	height: 			8.5em;
	background-image: url(../images/background/bg-oben-unterseite-grau136.gif);
 }
 
/***	Schriftzug Ruhr-UniversitÃ¤t linke Seite ***/
.schriftzug {
	padding: 1.5em 0 0 1em;
} 

/***	kiju-zpt-icon rechte Seite ***/
.kiju-zpt-icon {
	float:				right;
	width: 				6.375em;
	}
	
	
/***	Metanavigation ***/
#metanavigation {
	float:				right;
	width:				40em;
	text-align:			right;
	padding: 	 		2em 2em 0 0;
	color: 				#666;
	font-size: 			0.689em;
}

/***	Links in der Metanavigation ***/
#metanavigation a:link, #metanavigation a:visited {
	text-decoration: 	none;
	color: 				#666;
	font-weight: 		bold;
	text-transform: 	uppercase;
	letter-spacing: 	1px;
}
#metanavigation a:hover {
	text-decoration: 	underline;
}
