@charset "iso-8859-2";
/***	Alles auf 0 ***/
* {
	padding: 	   		0;
	margin: 			0;
	border:				0px none;
	font-size:  		100.01%
}
/***	Schrift, Schriftgroesse, Hintergrundfarbe der Seite ***/
body {
	font-family: 		Arial, Helvetica, sans-serif;
 	background-color: 	#f1f1f1;
}
/***	Der Rahmen, 1000 Pixel mittig gesetzt ***/
#wrapper {
	margin:0 auto; width: 				62em;
	background-image: 	url('../images/background/bg1000-left.gif');
	background-repeat:  repeat-y;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 1em
}
#bg-right {
	background-image:	url('../images/background/bg-right.gif');
	background-repeat:	repeat-y;
	background-position: right 50%;
	width: 				62em
}
/***	Kopfbereich ***/
#header {
	color: 				#f1f1f1;
	width: 				62em;
	background-image: url('../images/background/bg-oben-kiba.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	height:11em
}
/***	Hintergrund Kopfbereich, doppelt, damit bei Groessenaenderung keine Darstellungsfehler entstehen ***/
#headerbackground {
	background-repeat:  no-repeat;
	min-height: 		8.5em
	background-position:left top;
 }
#headerbackground-right {
	background-image: 	url('../images/background/bg-oben-kiba.jpg.jpg');
	min-height: 		8.5em;
	background-repeat:	no-repeat;
	background-position: left top
}
/***	Schriftzug Ruhr-Universitaet linke Seite ***/
.schriftzug {
	padding: 			1.5em 0 0 0.625em;
} 
/***	Logo rechte Seite ***/
.logorub {
	float:				right;
	width: 				102px;
	height: 			136px;
}
/***	Metanavigation ***/
#metanavigation {
	float:				right;
	width:				40em;
	text-align:			right;
	padding: 	 		2em 2em 0 0;
	color: 				#5c5c5c;
	font-size: 			0.689em;
}
/***	Links in der Metanavigation ***/
#metanavigation a:link, #metanavigation a:visited {
	text-decoration: 	none;
	color: 				#5c5c5c;
	font-weight: 		bold;
	text-transform: 	uppercase;
	letter-spacing: 	1px;
}
#metanavigation a:hover {
	text-decoration: 	underline;
}